@font-face {  
  font-family: western;  
  src: url(edmunds.ttf) format("truetype");  
}  

html,body{
background-color: #440000;
color:#DBB;
}

nav{
width:100%;
position: absolute;
top:0px;
background-color: #522;
border-bottom: 1px solid #966;
color: #966;
font-size:80%;
padding: 0.5%;
}

nav ul {
width:70%;
display: inline;
}
nav li{
display: inline;
margin-left: 1.5em;
}

nav a{
color:#DBB;
}

nav input[type="search"]{
background-color: #966;
color: white;
border-radius: 30px;
border:1px solid #DBB;
float:right;
padding:0;
margin:0;
}

header h1{
text-transform:lowercase;
font-family:western;
font-size:280%;
position:relative;
width:80%;
left:10%;
top:1em;
}

header h1:before{    content: "“";}
header h1:after {    content: "”";}

nav li:before{    content: "«";}
nav li:after {    content: "»";}


#main{
position:relative;
width:80%;
left:10%;
top: 2em;
}

h2:first-letter, h3:first-letter, 
h4:first-letter, h5:first-letter, 
#main h1:first-letter {
font-weight: 150%;
font-size: 120%;
font-family:western;
}

footer {display:none;}
