#container{
position:relative;
width:80%;
left:10%;
}

header{
border-bottom: 10px dashed black;
}

nav input[type="search"]{
border:1px solid #DBB;
position:absolute;
right:10px;
top:10px;
}

nav {
float:right;
padding:2%;
}

#main{
width:80%;
border-right: 10px dashed black;
padding-right: 2%;
padding-top: 1%;
}

footer{
border-top: 10px dashed black;
text-align:center;
}

